body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(20, 1, 1, 0.1);
}

.row {
    margin-bottom: 20px;
}

.row label {
    display: block;
    margin-bottom: 5px;
}

.row input[type="text"],
.row input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.row input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.row input[type="submit"] {
    background: #4caf50;
    color: #fff;
}

.row input[type="reset"] {
    background: #f44336;
    color: #fff;
}

.text-center {
    text-align: center;
}

